*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.comida-container {
  /* Estilos para el contenedor de la lista */
  display: grid;
  grid-template-columns:repeat(4, 1fr); 
  gap: 33px;
  .card{
    width: 250px;
    height: 250px;
    border: 3px, solid#d9d9d9;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
  }
}